:root {
  --time-color: #53a8b6;
  --button-color: #5585b5;
  --font: sans-serif;
  --background-color: #79c2d0;
  --header-color: #bbe4e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
}

.timeline-items {
  padding-top: 40px;
  width: 100%;
  position: relative;
}

.timeline {
  background: var(--time-color);
  margin: 100px auto;
  padding: 20px;
  position: relative;
  width: 80vw;
  max-width: 80vw;
}

.timeline-header {
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  color: #ffffff;
  padding: 20px 5px 20px 5px;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  /*background-color:pink;*/
}

/*vertical timeline line*/
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 93%;
  background-color: #fff;
  border: solid 3px var(--header-color);
  left: 50%;
  bottom: 0;
  top: 6%;
}

.timeline-item {
  margin-bottom: 40px;
  width: 50%;
  position: relative;
}

.timeline-items:last-child {
  margin-bottom: 0;
}

/*period circles on timeline*/
.timeline-item::after {
  content: "";
  height: 30px;
  width: 30px;
  background-color: var(--header-color);
  position: absolute;
  right: -17px;
  border-radius: 50%;
  top: 15px;
  z-index: 1;
}

.timeline-item:nth-child(odd) {
  text-align: right;
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

/*add arrow pointers for left side*/
.timeline-item:nth-child(odd)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/*add arrow pointers for right side*/
.timeline-item:nth-child(even)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/*fix circles on left side so aligned on timeline vertical line*/
.timeline-item:nth-child(even)::after {
  left: -11px;
}


.timeline-item-date {
  font-size: 24px;
  /*color: #eaa023;*/
  margin: 6px 0 15px;
  padding-bottom: 50px;
}

/* outside decor of timeline items */
.info {
  padding: 20px 30px;
  background-color: white;
  background: #e7eaf6;
  position: relative;
  border-radius: 6px;
  transform:translateX(400%);
  transition: transform 0.4s ease;
  box-shadow: 13px 15px 29px -10px rgba(0, 0, 0, 0.75);
}

.info h2 {
  font-size: 26px;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
  padding-top: 20px;
}

.info p {
  /*color: #c8c8c8;*/
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding-bottom: 15px;
}

#showButton {
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
  color: #ffffff;
  padding: 14px 22px;
  font-size: 18px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

/* scroll animation */
.info.roll-in {
  transform: translateX(0);
}

  .more-info {
    width: 100%;
    background-color: white;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:  fixed;
    top: 20%;
    left: 20%;
    width: 100vh;
    width: 60%px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: .4s;
    transform: translate(-50% -50%);
  }

  .modal .modal-header{
    display: flex;
    justify-content: flex-end;
    padding: 15px 18px;
  }

  .modal .modal-header button {
    cursor: pointer;
    font-size: 22px;
    color:rgba(0, 0, 0, 0.75);
    background-image: transparent;
  }

  .modal .modal-body {
    text-align: center;
    justify-content: center;
  }

  .modal .modal-body img {
    width: 50%;
    margin: 10px 0 30px;
  }

  .modal .modal-body h3 {
    color: black;
    font-size: 20px;
  }

  .modal .modal-body o {
    color: brown;
    font-size: 16px;
    font-weight: 500px;
  }

  .modal .modal-body button {
    cursor: pointer;
    margin: top 30px;font-size: 22px;
    background: red;
    color: white;
    padding: 12px 120px;
    border-radius: 6px;
    letter-spacing:1px;
    transition: .4s;
  }
  
  .modal .modal-body button:hover{
    background-color: #5585b5;
  }
  
  .modal#hide {
    opacity: 0;
    transform: scale(.6);
    pointer-events:none;
  }

  .modal#show {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
  }

/* for module breakground when clicked */
.blur {
  filter: blur(5px);
}


